services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./src:/usr/src/app/src
      - ./prisma:/usr/src/app/prisma
      - /usr/src/app/node_modules
      - /usr/src/app/src/node_modules
    env_file:
      - ./.env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - TS_MODE_ENABLED=true

  web:
    build:
      context: .
      dockerfile: web.Dockerfile
      target: development
    ports:
      - "3000:3000"
    volumes:
      - ./web:/usr/src/app/web
      - ./src:/usr/src/app/src
      - ./prisma:/usr/src/app/prisma
      - /usr/src/app/node_modules
      - /usr/src/app/web/node_modules
      - /usr/src/app/web/.next
    env_file:
      - ./.env
    environment:
      - CHOKIDAR_USEPOLLING=true